<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <mapping class="com.heymoose.domain.model.offer.Offer"/>
    <mapping class="com.heymoose.domain.model.User"/>
    <mapping class="com.heymoose.domain.model.Banner"/>
    <mapping class="com.heymoose.domain.model.Withdraw"/>
    <mapping class="com.heymoose.domain.model.settings.Setting"/>
    <mapping class="com.heymoose.domain.model.statistics.OfferStat"/>
    <mapping class="com.heymoose.domain.model.Site"/>
    <mapping class="com.heymoose.domain.model.offer.BaseOffer"/>
    <mapping class="com.heymoose.domain.model.offer.SubOffer"/>
    <mapping class="com.heymoose.domain.model.grant.OfferGrant"/>
    <mapping class="com.heymoose.domain.model.offer.Category"/>
    <mapping class="com.heymoose.domain.model.IpSegment"/>
    <mapping class="com.heymoose.domain.model.Token"/>
    <mapping class="com.heymoose.domain.model.accounting.Account"/>
    <mapping class="com.heymoose.domain.model.AdminAccount"/>
    <mapping class="com.heymoose.domain.model.AdminAccountNotConfirmed"/>
    <mapping class="com.heymoose.domain.model.accounting.AccountingEntry"/>
    <mapping class="com.heymoose.domain.model.accounting.AccountingTransaction"/>
    <mapping class="com.heymoose.domain.model.action.OfferAction"/>
    <mapping class="com.heymoose.domain.model.errorinfo.ErrorInfo" />
    <mapping class="com.heymoose.domain.model.offer.CategoryGroup" />
  </session-factory>
</hibernate-configuration>
