<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <mapping class="com.heymoose.domain.offer.Offer"/>
    <mapping class="com.heymoose.domain.user.User"/>
    <mapping class="com.heymoose.domain.offer.Banner"/>
    <mapping class="com.heymoose.domain.settings.Setting"/>
    <mapping class="com.heymoose.domain.statistics.OfferStat"/>
    <mapping class="com.heymoose.domain.user.Site"/>
    <mapping class="com.heymoose.domain.offer.BaseOffer"/>
    <mapping class="com.heymoose.domain.offer.SubOffer"/>
    <mapping class="com.heymoose.domain.grant.OfferGrant"/>
    <mapping class="com.heymoose.domain.offer.Category"/>
    <mapping class="com.heymoose.infrastructure.persistence.IpSegment"/>
    <mapping class="com.heymoose.domain.statistics.Token"/>
    <mapping class="com.heymoose.domain.accounting.Account"/>
    <mapping class="com.heymoose.domain.user.AdminAccount"/>
    <mapping class="com.heymoose.domain.user.AdminAccountNotConfirmed"/>
    <mapping class="com.heymoose.domain.accounting.AccountingEntry"/>
    <mapping class="com.heymoose.domain.accounting.AccountingTransaction"/>
    <mapping class="com.heymoose.domain.action.OfferAction"/>
    <mapping class="com.heymoose.domain.errorinfo.ErrorInfo" />
    <mapping class="com.heymoose.domain.offer.CategoryGroup" />
    <mapping class="com.heymoose.domain.accounting.Withdrawal" />
  </session-factory>
</hibernate-configuration>
