<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <mapping class="com.heymoose.domain.Offer"/>
    <mapping class="com.heymoose.domain.User"/>
    <mapping class="com.heymoose.domain.Banner"/>
    <mapping class="com.heymoose.domain.Withdraw"/>
    <mapping class="com.heymoose.domain.settings.Setting"/>
    <mapping class="com.heymoose.domain.affiliate.ShowStat"/>
    <mapping class="com.heymoose.domain.affiliate.Site"/>
    <mapping class="com.heymoose.domain.BaseOffer"/>
    <mapping class="com.heymoose.domain.affiliate.SubOffer"/>
    <mapping class="com.heymoose.domain.affiliate.OfferGrant"/>
    <mapping class="com.heymoose.domain.affiliate.Category"/>
    <mapping class="com.heymoose.domain.affiliate.IpSegment"/>
    <mapping class="com.heymoose.domain.accounting.Account"/>
    <mapping class="com.heymoose.domain.AdminAccount"/>
    <mapping class="com.heymoose.domain.AdminAccountNotConfirmed"/>
    <mapping class="com.heymoose.domain.accounting.AccountingEntry"/>
    <mapping class="com.heymoose.domain.accounting.AccountingTransaction"/>
    <mapping class="com.heymoose.domain.affiliate.ClickStat"/>
    <mapping class="com.heymoose.domain.affiliate.OfferAction"/>
  </session-factory>
</hibernate-configuration>